.mapContainer {
  display: flex;
  flex-flow: row nowrap;
}

.mapElement {
  height: 100%;
}

@media (max-width: 1279px) {
  .mapElement {
    margin-top: 10px;
    width: 98%;
    height: 500px;
  }
  .mapContainer {
    display: flex;
    flex-flow: column nowrap;
  }
}
